%form#form{ action: text_base64_encode_or_decode_path, method: 'post', data: { remote: true } }
  
  %div.row
    %div.col-md-8
      = render 'concerns/panels/form', |
        header: t('.input'),           |
        body: render('concerns/editors/input',      |
          id: 'input',                              | 
          name: 'input',                            |
          content: "some sample content goes here", |
          options: { mode: "xml" })
  	
    %div.col-md-4
      - content_for :file_upload do
        %div.form-horizontal.separated
          = render 'concerns/uploads/list', id: 'input_base64_files_list', |
            label: t('.file')
          = render 'concerns/uploads/form', id: 'input_base64_files_upload', |
            tooltip: t('concerns.uploads.form.tooltip')
          = render 'concerns/fields/text',          |
            name: 'encoding',                       |
            label: t('.encoding.label'),            |
            placeholder: t('.encoding.placeholder')
      
      = render 'concerns/panels/form', |
        header: t('.input_file'),      |
        body: yield(:file_upload)
        
      = submit_button text: t('.form_submit.label_encode_file'), name: 'mode', value: 'encode_file'
      = submit_button text: t('.form_submit.label_decode_file'), name: 'mode', value: 'decode_file'
    
  
  %div.row
    %div.col-md-4
      = submit_button text: t('.form_submit.label_encode_txt'), name: 'mode', value: 'encode_text'
      = submit_button text: t('.form_submit.label_decode_txt'), name: 'mode', value: 'decode_text'

  %div.row
    %div.col-md-8
      = render 'concerns/panels/form', |
        header: t('.output'),          |
        body: render('concerns/editors/output', |
          id: 'output',                         |
          options: { mode: "xml" })

= javascript_include_tag 'views/text/base64'
