%div.row
  %div.col-md-8.col-md-offset-2
    = render 'concerns/panels/error', id: 'error_panel_xml', |
      defaultText: t('editor.error.default'), defaultTitle: ''

%form{ id: 'form', action: xml_format_path, method: 'POST', data: { remote: 'true' } }
  
  %div.row
    %div.col-md-8
      = render 'concerns/panels/form', id: 'input_xml_panel', |
        header: t('.input'), |
        body: render('concerns/editors/input', id: 'input_xml', name: 'input', |
          settings: { mode: 'xml' }, |
          content: get_sample_xml('sample.xml').gsub(/(>)\s+/, '\1'))
  
    %div.col-md-4
      - content_for :settings_panel do
        %div.form-horizontal{role: 'form'}
          = settings_text_field_tag(name: 'indent_text', label: t('.indent_text.label'), placeholder: t('.indent_text.placeholder'), tab_allowed: true)
          = settings_text_field_tag(name: 'encoding', label: t('.encoding.label'), placeholder: t('.encoding.placeholder'))
    
      = render 'concerns/panels/form', id: 'settings_panel', |
        header: t('.settings'), |
        body: yield(:settings_panel)
        
  %div.row
    %div.col-md-4
      = render 'concerns/buttons/submit', id: 'submit_form', |
        name:  t('.form_submit.label'), disable_with: t('.form_submit.disable')
    
  %div.row
    %div.col-md-8
      = render 'concerns/panels/form', id: 'output_xml_panel', |
        header: t('.output'), |
        body: render('concerns/editors/output', id: 'output_xml', |
          settings: { mode: 'xml' })

= javascript_include_tag 'xml/format'
