%form{ id: 'form', action: xml_format_path, method: 'POST', data: { remote: 'true' } }

  %div.row
    %div.col-md-8
      = render 'concerns/panels/form', id: 'input_xml_panel', |
        header: t('.input'),                                  |
        body: render('concerns/editors/input', id: 'input_xml', name: 'input', |
          options: { mode: 'xml' }, |
          content: get_sample_xml('sample.xml').gsub(/(>)\s+/, '\1'))

    %div.col-md-4
      - content_for :settings_panel do
        %div.form-horizontal{role: 'form'}
          = render 'helpers/settings_text_field', |
            name: 'indent_text', |
            label: t('.indent_text.label'), |
            placeholder: t('.indent_text.placeholder'), |
            tab_allowed: true
          = render 'helpers/settings_text_field', |
            name: 'encoding', |
            label: t('.encoding.label'), |
            placeholder: t('.encoding.placeholder')

      = render 'concerns/panels/form', id: 'settings_panel', |
        header: t('.settings'), |
        body: yield(:settings_panel)

  %div.row
    %div.col-md-4
      = submit_button

  %div.row
    %div.col-md-8
      = render 'concerns/panels/form', id: 'output_xml_panel', |
        header: t('.output'), |
        body: render('concerns/editors/output', id: 'output_xml', |
          settings: { mode: 'xml' })

= javascript_include_tag 'views/xml/format'
