%form#form{ action: rbc_rosreestr_generate_path, method: 'post', data: { remote: true } }
  
  %div.row
    %div.col-md-4
      - content_for :settings do
        %div.form-horizontal{role: 'form'}
          = render('concerns/fields/text', name: 'date', label: 'Дата', placeholder: 'Дата в формате ГГГГ-ММ-ДД')

          %div.form-group
            %label.col-md-3.control-label.clear{ 'name' => 'mode' } Режим генерации
            %div.col-md-9
              %select.form-control{ 'name' => 'mode' }
                %option{ 'value' => 'text' } Текстовый
                %option{ 'value' => 'json' } JSON

      = render 'concerns/panels/form', |
        header: 'Параметры генерации', |
        body: yield(:settings)

  %div.row
    %div.col-md-1
      = render('concerns/buttons/submit', text: 'Генерировать', disable_with: 'Генерация')

  %div.row
    %div.col-md-8
      = render 'concerns/panels/form',     |
          header: 'Сгенерированные коды',  |
          body: render('concerns/editors/output', id: 'output_editor', |
            options: { mode: 'text' })

= javascript_include_tag 'views/rbc/rosreestr'