%form#form{ action: xml_xsd_validate_path, method: 'post', data: { remote: true } }
  
  %div.row
    %div.col-md-6
      = render 'concerns/panels/form', |
        header: t('.xml'),             |
        body: render('concerns/editors/input', id: 'input_xml_editor', |
          name: 'xml',                                                 |
          settings: { mode: 'xml' },                                   |
          content: get_sample_xml('sample.xml'))

    %div.col-md-6
      - content_for :xsd_editor do
        = render 'concerns/editors/input', id: 'input_xsd_editor', |
          name: 'xsd',                                             |
          settings: { mode: 'xml' },                               |
          content: get_sample_xml('sample.xsd')
          
      - content_for :file_upload do
        %div.form-horizontal
          = render 'concerns/uploads/list', id: 'input_xsd_files_list', |
            label: t('.file')
          = render 'concerns/uploads/form', id: 'input_xsd_files_upload', |
            label: (t('concerns.uploads.form.label') + ' ' + t('.prolog_note'))

      = render 'concerns/panels/tabbed', id: 'xsd_tabbed_panel',                |
        tab_input_name: 'mode',                                                 |
        tabs: [                                                                 | 
          { value: 'inline', header: t('.xsd'), body: yield(:xsd_editor) },     |
          { value: 'file', header: t('.xsd_file'), body: yield(:file_upload) }, |
        ]

  %div.row
    %div.col-md-1
      = render 'concerns/buttons/submit', |
        text:  t('.form_submit.label'), disable_with: t('.form_submit.disable')
  
  %div.row
    %div.col-md-8
      = render 'concerns/panels/form', |
        header: t('.output'),          |
        body: render('concerns/editors/output', id: 'output_editor', |
          settings: { mode: 'xml' })

= javascript_include_tag 'views/xml/xsd'
