- id ||= nil
- tabs ||= [ { value: 'example', header: t('.header'), body: t('.body') } ]
- tab_input_name ||= nil # name for input-field choosed in header
- active_tab ||= 0

- tab_panel_id_prefix = "#{id}_tab_panel"
- tab_input_id = "#{id}_tab_input"
- headers ||= tabs.map() { |tab| tab[:header] }
- values ||= tabs.map() { |tab| tab[:value] }
- bodies ||= tabs.map() { |tab| tab[:body] }

%div.panel.panel-default.condensed{ id: id, 'data-concerns' => 'panelTabbed' }
  %div.panel-heading{'data-panel-header' => ''}
    %input{ 'data-type' => 'tab-input', type: "hidden", name: tab_input_name, value: values[active_tab] }
    
    %ul.nav.nav-tabs
      - headers.each_with_index do |header, i|
        %li{ class: i == active_tab ? 'active' : '' }
          %a{ href: "##{tab_panel_id_prefix}_#{i}", 'data-toggle' => 'tab', 'data-value' => values[i] }
            %h4.condensed= header
  
  %div.panel-body.condensed.tab-content{ 'data-panel-body' => '' } 
    - bodies.each_with_index do |body, i|
      %div.tab-pane{ id: "#{tab_panel_id_prefix}_#{i}", class: i == active_tab ? 'active' : '' }
        = body
