%form#form{ action: xml_json_path, method: 'post', data: { remote: true } }

  %div.row
    %div.col-md-8
      = render 'concerns/panels/form', |
        header: t('.input'),           |
        body: render('concerns/editors/input',   |
          id: 'input_xml',                       | 
          name: 'input',                         |
          content: get_sample_xml('sample.xml'), |
          options: { mode: "xml" })

    %div.col-md-4
      - content_for :settings_panel do
        %div.form-horizontal.separated{role: 'form'}
          %div.form-group
            %label.col-md-4.control-label{ 'for' => 'mode' }= t('.mode.label')
            %div.col-md-8
              %select.form-control#mode{ 'name' => 'mode' }
                %option{ 'value' => 'pretty' }= t('.mode.pretty')
                %option{ 'value' => 'one_line' }= t('.mode.one_line')
            
      = render 'concerns/panels/form', |
        header: t('.settings'),        |
        body: yield(:settings_panel)

  %div.row
    %div.col-md-4
      = submit_button

  %div.row
    %div.col-md-8
      = render 'concerns/panels/form', |
        header: t('.output'),          |
        body: render('concerns/editors/output', |
          id: 'output_json',                    |
          options: { mode: "javascript" })

= javascript_include_tag 'views/xml/json'
