%form#form{ action: misc_finance_parse_string_to_table_path, method: 'post', data: { remote: true } }
  
  %div.row
    %div.col-md-8
      = render 'concerns/panels/form', |
        header: t('.input'),           |
        body: render('concerns/editors/input', |
          id: 'input',                         |
          name: 'input',                       |
          content: @input,                     |
          options: { mode: "text" })

    %div.col-md-4
      - content_for :settings_panel do
        %div.form-horizontal.separated{role: 'form'}
          = render 'concerns/fields/text',             |
            name: 'num_to_dollar_rate',                        |
            label: t('.num_to_dollar_rate.label'),             |
            placeholder: t('.num_to_dollar_rate.placeholder'), |
              tab_allowed: false

      = render 'concerns/panels/form', |
        header: t('.settings'),        |
        body: yield(:settings_panel)
  
  %div.row
    %div.col-md-4
      = submit_button text: t('.form_submit.label'), name: 'mode', value: 'text'

  %div.row
    %div.col-md-8
      = render 'concerns/panels/form', |
        header: t('.output'),          |
        body: render('concerns/editors/output', |
          id: 'output',                         |
          name: 'output',                       |
          content: @output,                     |
          options: { mode: "text" })

= javascript_include_tag 'views/misc/finance'
