%form#form{ action: xml_xslt_path, method: 'post', data: { remote: 'true' } }
  
  %div.row
    %div.col-md-6
      = render 'concerns/panels/form', |
        header: t('.xml'),             |
        body: render('concerns/editors/input',   |
          id: 'input_xml',                       |
          name: 'xml',                           |
          content: get_sample_xml('sample.xml'), |
          options: { mode: 'xml' })

    %div.col-md-6
      = render 'concerns/panels/form', |
        header: t('.xslt'),            |
        body: render('concerns/editors/input',    |
          id: 'input_xslt',                       |
          name: 'xslt',                           |
          content: get_sample_xml('sample.xslt'), |
          options: { mode: 'xml' })

  %div.row
    %div.col-md-1
      = submit_button

  %div.row
    %div.col-md-8
      = render 'concerns/panels/form', |
        header: t('.output'),          |
        body: render('concerns/editors/output', |
          id: 'output_xml',                    |
          options: { mode: "xml" })

= javascript_include_tag 'views/xml/xslt'
