!!!
%html
%head
  %title YAWU - Yet Another Web Utilities
  = stylesheet_link_tag "application", charset: "UTF-8", media: "all"
  = yield :stylesheet
  = javascript_include_tag "application", charset: "UTF-8"
  = yield :javascript
  = csrf_meta_tags

%body
  %nav.navbar.navbar-default.navbar-static-top{ 'role' => "navigation" }
    .container-fluid
      .navbar-header
        %a.navbar-brand{href: root_url}= YAWU
        
      %div
        %ul.nav.navbar-nav
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              XML
              %b.caret
            %ul.dropdown-menu
              %li
                =link_to 'Format', xml_format_path
              %li
                =link_to 'Escape', xml_escape_path
              %li
                %a{href: "#"} To JSON
              %li
                %a{href: "#"} XSLT
              %li
                %a{href: "#"} XSD
              %li.divider
              %li
                %a{href: "#"} Generic tool
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              JavaScript
              %b.caret
            %ul.dropdown-menu
              %li
                %a{href: "#"} JSON to XML
              %li
                %a{href: "#"} XML to JSON
              %li
                %a{href: "#"} Evaluate
              %li.divider
              %li
                %a{href: "#"} Generic tool          
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                Another stuff
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{href: "#"} Tool 1
                %li
                  %a{href: "#"} Tool 2
                %li.divider
                %li
                  %a{href: "#"} Another tool

  = (content_for? :content) ? (yield :content) : (yield)
  