!!!
%html
%head
  %title= t('title')
  = stylesheet_link_tag "application", charset: "UTF-8", media: "all"
  = yield :stylesheet
  = javascript_include_tag "application", charset: "UTF-8"
  = yield :javascript
  = csrf_meta_tags

%body
  %nav.navbar.navbar-default.condensed{ 'role' => "navigation" }
    .container-fluid
      .navbar-header
        %button.navbar-toggle{ 'type' => "button", 'data-toggle' => "collapse", 'data-target' => "#yawu_application_navbar" }
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{href: root_url}= t('label')

      %div.collapse.navbar-collapse#yawu_application_navbar
        = render 'layouts/navbar_links'
        
  %div.container-fluid
    %div.row
      %div.col-md-8.col-md-offset-2
        = render 'concerns/panels/error', id: 'error_panel'
    
    = (content_for? :content) ? (yield :content) : (yield)
  