- content_for :stylesheet do
  = stylesheet_link_tag "editor", charset: "UTF-8", media: "all"
- content_for :javascript do
  = javascript_include_tag "ace/ace", charset: "UTF-8"
  = javascript_include_tag "ace/worker-javascript", charset: "UTF-8"
  = javascript_include_tag "ace/theme-eclipse", charset: "UTF-8"
  = javascript_include_tag "ace/mode-xml", charset: "UTF-8"
  = javascript_include_tag "ace/mode-javascript", charset: "UTF-8"
  = javascript_include_tag "editor", charset: "UTF-8"

- content_for :content do
  %div.row
    %div.col-md-12
      = yield
          
  %div.row
    %div.col-md-4
      = render 'concerns/buttons/up'

= render template: 'layouts/application'

%hr

%div.row
  %div.col-md-8.col-md-offset-2
    - content_for :debug_panel do
      %div.row
        %div.col-md-12
          = render('concerns/editors/output', id: 'debug_output_editor', settings: { mode: 'text', theme: 'eclipse' }) |
      %div.row
        %div.col-md-4
          %button#debug_output_clear_button.btn.btn-default
            = t('editor.debug_panel.clear');
      
    = render 'concerns/panels/collapsible',       |
      headerHidden: t('editor.debug_panel.show'), |
      headerShown: t('editor.debug_panel.hide'),  |
      shown: false, |
      body: yield(:debug_panel)
